.card-small{
    padding: 25px;
    background-color: var(--card-color);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 0;
  }
  
  
  .card-small-view{
    color: var(--gray);
    font-size: .9em;
    font-weight: bold;
  }
  
  .card-small-icon{
    justify-self: end;
  }
  
  .card-small-number{
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1;
  }
  
  .card-small-porcent{
    justify-self: end;
    align-self: flex-end;
  }
  
  
  .card-small-porcent span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lime-green);
    font-weight: bold;
    font-size: .9em;
  }
  
  .card-small-porcent span img{
    margin-right: 5px;
  }
  
  .card-small-porcent span img[src*="/img/icon-down.svg"] ~ span{
    color: var(--bright-red);
  }